body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.waviy {
	position: relative;
	-webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
	font-size: 60px;
}
.waviy span {
	position: relative;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	animation: waviy 1s infinite;
	animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
	0%,40%,100% {
		transform: translateY(0)
	}
  	20% {
    	transform: translateY(-20px)
	}
}
